<section class="datePicker">
    <h3>Kies hier je datum en tijd</h3>
    <fieldset>
      <legend class="legend-month" >In welke maand wil je gaan?</legend>
      <p>Kies uit de beschikbare opties</p>
      <label for="monthDatePicker">In maand:</label>
      <select id="monthDatePicker" class="monthDatePicker" name="month"></select>
    </fieldset>

    <fieldset>
      <legend class="legend-day">Op welke dag wil je naar het museum?</legend>
      <p>Kies uit de beschikbare opties</p>
      <div class="checkboxDay"></div>
    </fieldset>
    
    <fieldset>
      <legend class="legend-date">Welke datum wil je komen?</legend>
      <p>Kies uit de beschikbare opties</p>
      <div class="chooseDay"></div>
    </fieldset>

    <fieldset>
      <legend class="legend-day-period">Wanneer op de dag wil je komen?</legend>
      <p>Kies uit de beschikbare opties</p>
      <div class="choose-day-period"></div>
    </fieldset>

    <fieldset class="chooseTime">
      <legend class="legend-time-stamp">Hoelaat wil je komen?</legend>
      <p>Kies uit de beschikbare opties</p>
      <div class="morning-container"></div>
      <div class="midday-container"></div>
    </fieldset>
  </section>