<section class="datePicker">
    <legend>Kies hier je datum en tijd</legend>
    <label for="monthDatePicker">In welke maand wil je gaan?</label>
    <select id="monthDatePicker" class="monthDatePicker" name="month"></select>
    <p>Op welke dag wil je naar het museum?</p>
    <fieldset class="checkboxDay"></fieldset>
    <p>Welke datum wil je komen?</p>
    <fieldset class="chooseDay"></fieldset>
    <p>Wanneer op de dag wil je komen?</p>
    <fieldset class="choose-day-period"></fieldset>
    <p>Hoelaat wil je komen?</p>
    <fieldset class="chooseTime">
      <div class="morning-container"></div>
      <div class="midday-container"></div>
    </fieldset>
  </section>