<nav>
    <!-- <div> -->
        <a href="">1. Tickets ></a>
        <a class="navStepDisabled" href="">2. Extra opties > </a>
        <a class="navStepDisabled" href="">3. persoonsgegevens ></a>
        <a class="navStepDisabled" href="">4. Overzicht en betaling ></a>
    <!-- </div> -->
</nav>