<section>
    <h2><%= variantContent.articleSelectionContent.pageTitle %></h2>
    <ul>
      <% variantContent.articleSelectionContent.usps.forEach(usp => { %>
      <li><%= usp %></li>
      <% }); %>
    </ul>
  </section>