<section>
    <h3><%= variantContent.articleSelectionContent.pageTitle %></h3>
    <ul>
      <% variantContent.articleSelectionContent.usps.forEach(usp => { %>
      <li><%= usp %></li>
      <% }); %>
    </ul>
  </section>