<%- include ("../partials/head.ejs") %> 
<nav>
    <ul>
        <li><a href="#main">Skip navigatie</a></li>
        <li><a aria-label="Stap 1 kies je groep" href="/" aria-current="page" title="1. Kies je groep" class="linkStyleUnderline">1. Kies je groep ></a></li> 
        <li><p class="navStepDisabled">2. Tickets > </p></li> 
        <li><p class="navStepDisabled">3. Plan je bezoek ></p></li> 
        <li><p class="navStepDisabled">4. Extra opties ></p></li> 
        <li><p class="navStepDisabled">5. Persoonsgegevens ></p></li> 
        <li><p class="navStepDisabled">6. Overzicht en betaling ></p></li> 
    </ul>
</nav>
<main id="main">
    <form action="/tweede-stap" method="GET" data-formName="firstFormChoice">
        <section class="group-choice">
            <h2 aria-label="Stap 1 van de 6, met wie kom je naar het museum?">Met wie kom je naar het museum?</h2>
                <div>
                    <a aria-label="Kom je alleen? klik hier." class="only-flow-link" href="/tweede-stap?groupChoice=only&javascript=0" title="Alleen op je eigen tempo">
                        <img src="/assets/images/RijksFotos/tourtype3special.jpg" alt="Een foto van een tour in het Rijksmuseum">
                        <h3>Alleen op je eigen tempo</h3>
                    </a>
                </div>
                <div>
                    <a aria-label="Ga je met het gezin? klik hier." class="family-flow-link" href="/tweede-stap?groupChoice=family&javascript=0" title="Samen met je gezin">
                        <img src="/assets/images/RijksFotos/gezin.jpg" alt="Een foto van een tour in het Rijksmuseum">
                        <h3>Samen met je gezin</h3>
                    </a>
                </div>
                <div>

                    <a aria-label="Kom je voor een afspraakje? klik hier." class="date-flow-link" href="/tweede-stap?groupChoice=date&javascript=0" title="Gezellig op date">
                        <img src="/assets/images/RijksFotos/date.jpg" alt="Een foto van een tour in het Rijksmuseum">
                        <h3>Gezellig op date</h3>
                    </a>
                </div>
                <div>
                    <a aria-label="Kom je met een groep tot 15 personen? klik hier." class="group-flow-link" href="/tweede-stap?groupChoice=small-group&javascript=0" title="Groep van 2 tot en met 15 mensen">
                        <img src="/assets/images/RijksFotos/groepKinderen.jpg" alt="Een foto van een tour in het Rijksmuseum">
                        <h3>Groep van 2 tot en met 15 mensen</h3>
                    </a>
                </div>
                <div>
                    <a aria-label="Kom je met een groep groter dan 15 personen? klik hier." href="https://www.rijksmuseum.nl/nl/groepsbezoek" title="Groep met meer dan 15 mensen">
                        <img src="/assets/images/RijksFotos/groep.jpg" alt="Een foto van een tour in het Rijksmuseum">
                        <h3>Groep met meer dan 15 mensen</h3>
                    </a>
                </div>
        </section>
        <!-- <section class="ticketOrder">
            <div>
                <p>Bestellingslijst...</p>
                <input class="backAndNextButton" type="submit" value="Naar Tickets">
            </div>
        </section> -->
    </form>
</main>

<%- include ("../partials/footer.ejs") %>
