<%- include ("../partials/head.ejs") %> 
<nav>
    <a href="/">1. Tickets ></a>
    <a class="navStepDisabled" tabindex="-1" href="">2. Extra opties > </a>
    <a class="navStepDisabled" tabindex="-1" href="">3. persoonsgegevens ></a>
    <a class="navStepDisabled" tabindex="-1" href="">4. Overzicht en betaling ></a>
</nav>
<main>

</main>

<%- include ("../partials/footer.ejs") %>
