<%- include ("../partials/head.ejs") %> 
<nav>
  <a href="/">1. Kies je groep ></a>
  <a href="/tweede-stap">2. Tickets > </a>
  <a class="navStepDisabled" tabindex="-1" href="#">3. Plan je bezoek ></a>
  <a class="navStepDisabled" tabindex="-1" href="#">4. Extra opties ></a>
  <a class="navStepDisabled" tabindex="-1" href="#">5. Persoonsgegevens ></a>
  <a class="navStepDisabled" tabindex="-1" href="#">6. Overzicht en betaling ></a>
</nav>

<main>
  
    <%- include (`../partials/${groupChoice}.ejs`) %>
  
</main>
<script>
  const maxAmountOfArticles = "<%= articleConfiguration.maxAmountOfArticles %>";
</script>

<%- include ("../partials/footer.ejs") %>
