
<%- include ("../partials/head.ejs") %>
<nav>
    <a class="visited" href="/">1. Kies je groep &#10003</a>
    <a class="visited" href="/tweede-stap?groupChoice=<%- groupChoice %>">2. Tickets &#10003</a>
    <a class="visited" href="/derde-stap?totalTickets=<%-ticketCount%>">3. Plan je bezoek &#10003</a>
    <a class="visited" href="/vierde-stap">4. Extra opties &#10003</a>
    <a class="visited" href="/vijfde-stap">5. Persoonsgegevens &#10003</a>
    <a href="/zesde-stap">6. Overzicht en betaling ></a>
</nav>
<main>
    <h2>Zesde stap</h2>
</main>
<%- include ("../partials/footer.ejs") %>