
<%- include ("../partials/head.ejs") %>
<nav>
    <a href="/">1. Kies je groep ></a>
    <a href="/tweede-stap?groupChoice=<%- groupChoice %>">2. Tickets > </a>
    <a href="/derde-stap">3. Plan je bezoek ></a>
    <a href="/vierde-stap">4. Extra opties ></a>
    <a href="/vijfde-stap">5. Persoonsgegevens ></a>
    <a href="/zesde-stap">6. Overzicht en betaling ></a>
</nav>
<main>
    <h2>Zesde stap</h2>
</main>
<%- include ("../partials/footer.ejs") %>