
<%- include ("../partials/head.ejs") %>
<nav>
    <ul>
        <li><a href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
        <li><a href="/tweede-stap" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
        <li><a href="/derde-stap" class="visited linkStyleUnderline">3. Plan je bezoek &#10003</a></li> 
        <li><a href="/vierde-stap" class="visited linkStyleUnderline">4. Extra opties &#10003</a></li> 
        <li><a href="/vijfde-stap" class="visited linkStyleUnderline">5. Persoonsgegevens &#10003</a></li> 
        <li><a href="/zesde-stap" aria-current="page">6. Overzicht en betaling ></a></li> 
    </ul>
</nav>

<main>
    <h2>Zesde stap</h2>
</main>
<%- include ("../partials/footer.ejs") %>