
<%- include ("../partials/head.ejs") %>
<nav>
    <a href="/">1. Tickets ></a>
    <a href="/tweede-stap">2. Extra opties > </a>
    <a href="/derde-stap">3. persoonsgegevens ></a>
    <a href="/vierde-stap">4. Overzicht en betaling ></a>
</nav>
<main>
    <h2>Vierde stap</h2>
</main>
<%- include ("../partials/footer.ejs") %>