<%- include ("../partials/head.ejs") %>
<nav>
    <a href="/">1. Tickets ></a>
    <a href="/tweede-stap">2. Extra opties > </a>
    <a href="derde-stap">3. persoonsgegevens ></a>
    <a class="navStepDisabled" tabindex="-1" href="">4. Overzicht en betaling ></a>
</nav>
<main>
    <h1>Hello World!</h1>
    <h2>Deerde stap</h2>
</main>
<%- include ("../partials/footer.ejs") %>
