// "ga verder/terug" button styling
.backAndNextButton {
    background-color: #d55140;
    padding: 0.5em 1em;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    border:none;

    position: absolute;
    display: block;
    right: 0em;
}

.backAndNextButton:hover {
    background-color: black;
}

.backAndNextButton:focus {
    background-color: black;
}

.topButton {
    margin-top: -2em;
}

// alle link buttons
a {
    text-decoration: none;
}