.backAndNextButton {
  background-color: #d55140;
  padding: 0.5em 1em;
  font-size: 1em;
  color: white;
  border-radius: 5px;
  border: none;
}
.backAndNextButton:disabled {
  background-color: #5e5e5e;
}
.backAndNextButton:disabled:hover {
  background-color: #5e5e5e;
}
.backButtonContainer {
  margin: 3em auto;
}
.backButton {
  color: #343537;
}
a {
  text-decoration: none;
}
