.nextPage {
  background-color: #d55140;
  padding: 0.5em 1em;
  font-size: 1em;
  color: white;
  border-radius: 5px;
  border: none;
  position: absolute;
  display: block;
  right: 0em;
}
.nextPage:hover {
  background-color: black;
}
.nextPage:focus {
  background-color: black;
}
