form[action="/zesde-stap"] section:nth-of-type(2),
form[action="/zesde-stap"] section:nth-of-type(3),
form[action="/zesde-stap"] section:nth-of-type(4) {
  max-width: 36em;
  margin: auto;
}
form[action="/zesde-stap"] section > fieldset > label {
  width: 100%;
  display: block;
}
form[action="/zesde-stap"] section > fieldset > input {
  margin-bottom: 2em;
  display: block;
  font-size: 1em;
  padding: 0.2em 1em;
  border-radius: 5px;
  border: 2px solid #718875;
}
form[action="/zesde-stap"] section > fieldset > select {
  margin-bottom: 2em;
  display: block;
  padding: 0.2em 1em;
  border-radius: 5px;
  border: 2px solid #718875;
  width: 12.8em;
  font-size: 1em;
}
form[action="/zesde-stap"] section:nth-of-type(2) > fieldset:first-of-type > input {
  margin-bottom: 0.5em;
  display: inline-block;
}
form[action="/zesde-stap"] #tussenName {
  width: 9em;
}
form[action="/zesde-stap"] #lastName {
  margin-bottom: 1.5em;
}
form[action="/zesde-stap"] #emailAddress {
  width: 34.8em;
}
form[action="/zesde-stap"] #zipCode {
  width: 12.5em;
}
form[action="/zesde-stap"] #country {
  width: 21.8em;
}
form[action="/zesde-stap"] section:nth-of-type(3) fieldset {
  display: inline-block;
}
form[action="/zesde-stap"] section > fieldset > input:valid,
form[action="/zesde-stap"] #country:valid {
  background-color: #e8ffd9;
  border: 2px solid #8cc152;
}
form[action="/zesde-stap"] section > fieldset > input:invalid,
form[action="/zesde-stap"] #country:invalid {
  background-color: #feedec;
  border: 2px solid #da4453;
}
@media screen and (max-width: 46em) {
  form[action="/zesde-stap"] section > fieldset > input,
  form[action="/zesde-stap"] #tussenName,
  form[action="/zesde-stap"] #lastName,
  form[action="/zesde-stap"] #emailAddress,
  form[action="/zesde-stap"] #zipCode,
  form[action="/zesde-stap"] #country {
    display: block;
    width: 100%;
  }
  form[action="/zesde-stap"] section:nth-of-type(3) fieldset {
    display: block;
    width: 100%;
  }
  form[action="/zesde-stap"] section:nth-of-type(2) > fieldset:first-of-type > input:last-of-type {
    margin-bottom: 1.5em;
  }
}
