*:focus {
  outline: 5px solid #d9531e;
}
*:focus + label {
  outline: 5px solid #d9531e;
}
a:hover {
  color: #d9531e;
}
.group-choice div:hover,
.entree-options-container div:hover,
.entree-options-container div input:checked + label {
  background-color: #343537;
}
.form-first-step article div:last-of-type button:active,
[action="/vijfde-stap"] section:first-of-type button:active {
  background-color: #343537;
}
.datePicker span > input:checked + label {
  background-position: left bottom;
  background-color: #343537;
  color: white;
  animation: none;
}
.datePicker span > input:checked + label::before {
  content: url(/assets/images/greenCheckmarkSmall.png);
  padding-right: 0.5em;
  filter: brightness(10) saturate(100%);
}
@media (prefers-reduced-motion: no-preference) {
  .backAndNextButton:hover {
    background-color: black;
  }
  .backAndNextButton:focus {
    background-color: black;
    border: 3px solid #d55140;
    outline: none;
  }
  .group-choice a:focus {
    background-color: #343537;
    outline: 5px solid #d9531e;
  }
  .group-choice a:hover {
    background-color: #343537;
  }
  .linkStyleUnderline:hover {
    color: #d2982f;
  }
  .linkStyleUnderline:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .linkStyleUnderline:focus {
    color: #d2982f;
    outline: 1px solid #d2982f;
    outline-offset: 10px;
  }
  .linkStyleUnderline:focus::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .entree-options-container div input:checked + label {
    transform: scale(1);
    background-color: #343537;
    color: white;
  }
  .entree-options-container div input:hover + label {
    transform: scale(1);
    background-color: #343537;
    color: white;
  }
  .entree-options-container div input:disabled + label {
    background-color: #727272;
  }
  .entree-options-container div input:disabled + label:hover {
    background-color: #727272;
  }
  .entree-options-container div input:disabled + label img {
    filter: grayscale(100%);
  }
  .add-ticket:focus,
  .remove-ticket:focus {
    color: white;
    background-color: #343537;
    border: 3px solid #d9531e;
    overflow: hidden;
    margin: 2px;
  }
  .add-ticket:active,
  .remove-ticket:active {
    color: white;
    background-color: #343537;
    box-shadow: 0 3px 6px -6px black;
    transform: translateY(4px);
  }
  .entree-options-container div:focus-within {
    transform: scale(1);
    background-color: #343537;
    color: white;
    animation-name: size;
    animation-duration: 1s;
    outline: 5px solid #d9531e;
    outline-offset: 0px;
  }
  @keyframes size {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .entree-options-container div input:checked + label {
    transform: scale(1);
    background-color: #343537;
    color: white;
  }
  .entree-options-container div input:hover + label {
    transform: scale(1);
    background-color: #343537;
    color: white;
  }
  .datePicker span:focus-within {
    color: white;
    animation: test 0.5s ease-out alternate;
    background: linear-gradient(to right, #d55140 50%, #718875 50%);
    background-size: 200% 100%;
  }
  .datePicker span:focus-within > input:checked + label {
    color: white;
    outline: 3px solid #d55140;
  }
  @keyframes test {
    from {
      background-position: right bottom;
    }
    to {
      background-position: left bottom;
    }
  }
}
