.backAndNextButton:hover {
  background-color: black;
}
.backAndNextButton:focus {
  background-color: black;
  outline: 2px solid purple;
}
.backButton {
  color: #d9531e;
}
.linkStyleUnderline {
  position: relative;
}
.linkStyleUnderline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #d2982f;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.linkStyleUnderline:hover {
  color: #d2982f;
}
.linkStyleUnderline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.linkStyleUnderline:focus {
  color: #d2982f;
  outline: 1px solid #d2982f;
  outline-offset: 10px;
}
.linkStyleUnderline:focus::before {
  visibility: visible;
  transform: scaleX(1);
}
.ticket-amount-container > * {
  display: inline-block;
}
.add-ticket,
.remove-ticket {
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #718875;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 6px -3px grey;
  line-height: normal;
  margin: 5px;
}
.add-ticket:focus,
.remove-ticket:focus {
  color: white;
  background-color: #343537;
  border: 3px solid #d9531e;
  overflow: hidden;
  margin: 2px;
}
.add-ticket:active,
.remove-ticket:active {
  color: white;
  background-color: #343537;
  box-shadow: 0 3px 6px -6px black;
  transform: translateY(4px);
}
.remove-ticket {
  padding: 0em 0.6em 0.2em 0.6em;
}
.add-ticket {
  padding: 0em 0.5em 0.2em 0.5em;
}
.entree-options-container div:focus-within {
  transform: scale(1);
  background-color: #343537;
  color: white;
  animation-name: size;
  animation-duration: 1s;
  outline: 5px solid #d9531e;
  outline-offset: 0px;
}
@keyframes size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.entree-options-container div input:checked + label {
  transform: scale(1);
  background-color: #343537;
  color: white;
}
.entree-options-container div input:hover + label {
  transform: scale(1);
  background-color: #343537;
  color: white;
}
.checkboxDay span {
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  width: 10em;
  height: 2em;
  display: inline-block;
  padding-right: 1em;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.checkboxDay span input:checked + label {
  background-position: left bottom;
  color: red;
}
.checkboxDay span:focus-within {
  background-position: left bottom;
  color: white;
}
.checkboxDay input {
  opacity: 0;
}
