form > h1 {
  margin: 3em 0em 2em 0em;
}
.full-width {
  border-collapse: collapse;
  width: 100%;
}
.align-middle {
  display: table-cell;
  vertical-align: middle;
}
fieldset:first-of-type {
  margin: 0em 0em 2em 0em;
}
fieldset {
  border: 0;
}
legend {
  font-weight: bold;
  margin: 0em 0em 1em 0em ;
}
td {
  text-align: left;
  padding: 12px 0 12px 12px;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
.field-validation-error {
  display: block;
  position: relative;
  margin-top: 17px;
  padding: 12px;
  text-align: center;
  background-color: #d55140;
  color: white !important;
}
.field-validation-error:before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border-width: 0 15px 15px 15px;
  border-style: solid;
  border-color: transparent transparent #d55140 transparent;
}
.hidden {
  display: none;
}
th {
  text-align: left;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
tr {
  border-bottom: 1px solid #343537;
}
