section:first-of-type h2 {
  margin: 0 0 0 1em;
}
section:first-of-type ul {
  list-style: none;
}
section:first-of-type li {
  margin: 1em 0;
  list-style-image: url(../assets/images/greenCheckmarkSmall.png);
}
