body {
  font-family: RijksText, Arial, sans-serif;
  background-color: white;
  color: #343537;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1em;
}
form {
  position: relative;
}
main {
  margin: 1em auto 3em auto;
  position: relative;
}
main > h2 {
  margin: 2em 0em;
}
section {
  width: 80%;
  position: relative;
  margin: 0em auto;
}
input:focus + label {
  box-shadow: 0px 0px 0px 5px #d9531e;
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 5px #d9531e;
}
a:focus {
  outline: none;
  box-shadow: 0px 0px 0px 5px #d9531e;
}
