body {
  font-family: RijksText, Arial, sans-serif;
  background-color: white;
  color: #343537;
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1em;
}
form {
  position: relative;
}
main {
  margin: 1em auto 3em auto;
  width: 80%;
}
main > h2 {
  margin: 2em 0em;
}
section {
  margin: 0 0 0 -1em;
}
