.form-first-step fieldset > div,
.step-two fieldset > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-first-step fieldset > div article,
.step-two fieldset > div article {
  width: 250px;
}
.form-first-step fieldset > div article > div:first-of-type,
.step-two fieldset > div article > div:first-of-type {
  position: relative;
  height: 150px;
  padding: 1em;
  background: #202327;
  background: url(/assets/images/ticket.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16em;
}
.form-first-step fieldset > div article > div:first-of-type h3,
.step-two fieldset > div article > div:first-of-type h3 {
  color: white;
  margin-top: 1;
  padding-left: 0.5em;
}
.form-first-step fieldset > div article > div:first-of-type p.align-middle,
.step-two fieldset > div article > div:first-of-type p.align-middle {
  color: white;
  position: absolute;
  right: 2em;
  bottom: 2.3em;
  margin-bottom: 0;
}
.form-first-step fieldset > div article > div:first-of-type .iBtn,
.step-two fieldset > div article > div:first-of-type .iBtn {
  position: absolute;
  left: 2em;
  bottom: 2em;
}
.form-first-step fieldset > div article > div:first-of-type.two-tickets,
.step-two fieldset > div article > div:first-of-type.two-tickets {
  background: url(/assets/images/two-tickets.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16em;
}
.form-first-step fieldset > div article > div:first-of-type.three-tickets,
.step-two fieldset > div article > div:first-of-type.three-tickets {
  background: url(/assets/images/three-tickets.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16em;
}
.form-first-step fieldset > div article > div:first-of-type.more-tickets,
.step-two fieldset > div article > div:first-of-type.more-tickets {
  background: url(/assets/images/more-than-three-tickets.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16em;
}
.form-first-step fieldset > div article > div:last-of-type,
.step-two fieldset > div article > div:last-of-type {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
}
.step-two fieldset > div article > div:first-of-type .iBtn {
  position: absolute;
  left: 1.5em;
  bottom: 2em;
}
