.form-first-step,
.step-two {
  fieldset > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
      width: 250px;
    }

    article > div:first-of-type {
      position: relative;
      height: 150px;
      padding: 1em;
      background-image: url(/assets/images/ticket.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 16em;

      h3 {
        color: white;
        margin-top: 1;
        padding-left: 0.5em;
      }

      p.align-middle {
        color: white;
        position: absolute;
        right: 2em;
        bottom: 2.3em;
        margin-bottom: 0;
      }

      .iBtn {
        position: absolute;
        left: 2em;
        bottom: 3em;
      }
    }

    article > div:first-of-type.two-tickets {
      background-image: url(/assets/images/two-tickets.png);
    }
    article > div:first-of-type.three-tickets {
      background-image: url(/assets/images/three-tickets.png);
    }

    article > div:first-of-type.more-tickets {
      background-image: url(/assets/images/more-than-three-tickets.png);
    }

    article > div:last-of-type {
      width: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 2em;
      text-align: center;
    }
  }
}

.step-two {
  fieldset > div {
    article > div:first-of-type {
      .iBtn {
        position: absolute;
        left: 1.5em;
        bottom: 2em;
      }
    }
  }
}
